* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}
clr {
  clear: both;
}
ul {
  display: inline-block;
}
li {
  display: inline-block;
}

a {
  /* padding: 10px; */
  /* display: inline-block; */
}

/* common css */

.full_wraper {
  background-color: rgb(1, 3, 3);
  height: 5000px;
}
.container {
  /* height: 50px; */
  width: 1320px;
  margin: 0 auto;
  /* background-color: blueviolet; */
}
.logo {
  width: 20%;
  /* height: 50px; */
  /* background-color: gold; */
  float: left;
}
.manu {
  width: 80%;
  /* height: 50px; */
  /* background-color: green; */
  float: left;
  text-align: right;
}
.logo img {
  width: 100%;
  /* height: 70px; */
}
.manu li a {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  color: palegreen;
  background-color: rgb(70, 73, 73);
  border-radius: 5px;
  font-weight: 800;
  transition: 0.5s;
}
.manu li a:hover {
  background-color: palevioletred;
  color: rgb(1, 41, 19);
}
.ok2 ul {
  display: inline-block;
}
.ok2 ul li {
  display: inline-block;
}

.manu ul {
  /* background-color: rgb(209, 110, 18); */
  display: inline-block;
}
.ok1 {
  float: right;
  /* background-color: brown; */
}
.ok2 {
  float: left;
}
.ok3 {
  margin-top: 50px;
  display: inline-block;
  text-align: right;
}
.ok3 ul {
  display: inline-block;
  text-align: center;
}
.ok3 li {
  text-align: center;
  display: inline-block;
}
.img img {
  width: 100%;
  padding-right: 150px;
  /* margin-right: 50px; */
}
/* img er part ses  */
.new {
  text-align: center;
  margin-top: 100px;
}
.f1_image {
  /* float: left; */
  display: inline-block;
  /* background-color: red; */
  /* height: 500px; */
  width: 20%;
}
.f2_image {
  /* float: left; */
  display: inline-block;
  /* background-color: aquamarine; */
  /* height: 500px; */
  width: 20%;
}
.f3_image {
  /* float: left; */
  display: inline-block;
  /* background-color: blueviolet; */
  /* height: 500px; */
  width: 20%;
}
.new img {
  width: 100%;
  /* text-align: right; */
}
h1 {
  color: rgb(168, 194, 216);
}
.tes {
  padding: 60px;
}
